.button-left{
position: absolute;
top: 45%;
margin-left: 4%;
height: 150px;
width: 175px;

background:url(../images/button-left.png) no-repeat;
background-size: 100% 100%;
border-width: 0px;
outline: none;
}

.button-right{
    position: absolute;
    top: 45%;
    margin-left:calc(96% - 150px);
    height: 150px;
    width: 175px;
    background:url(../images/button-right.png) no-repeat;
    background-size: 100% 100%;
    border-width: 0px;
    outline: none;
    transition: all 300ms;
    
    }

    .button-right:focus{
        transform: scale(0.85);
        }

    .button-left:focus{
         transform: scale(0.85);
            }


.start-playing
    {
        position: fixed;
        top: 0px;
        left:0px;
        height: 100%;
        width:100%;
        color: white;
        background-color:rgba(7, 85, 125, 0.5);
        font-size: 40px;
        z-index: 99999;
    }

    .anime-container {
        position: relative;
      }
       
      .anime-container .dot{
        position: absolute;
        z-index: 99999;
        /*draw particles as circles:*/
        border-radius: 50%;
        background-color: hsl(60, 100%, 80%);
      }

      .banner{
          display: block;
         
          height: 25%;
          margin: 0px auto;
         
          /* background-image: url(../images/button2.png) ;
          background-size: cover;
          background-repeat: no-repeat;
          */
      }

      .help{
          background-color:rgba(255, 255, 255, 0.7);
          position: absolute;
          display:flex;
          width:80%;
          height:70%;
          left:9%;
          top: 50%;
		  transform:translateY(-50%);
          text-align: center;
          font-size: 4vh;
          color: black;
          padding:20px;
          padding-top: 45px;
          border-radius: 18px;
          flex-direction: column;
         
      }

      .banner:hover{
        transform: scale(0.85);
        transition: width 2s;
           }

      .point{
          position: absolute;
          left:8px;
          width:30%;
          height: 100px;
          top:8px;
          color: black;
          font-size: 22px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 10px;
          display:flex;
          flex-direction: row;
      }

      #point{
          width: calc(100% - 110px);
          width: -webkit-calc(100% - 110px);
          height: 100%;
          padding-top:6%;
          font-size:40px;
		  color:#ffffff

      }

      .life{
        position: absolute;
        right:8px;
        width:30%;
        height: 100px;
        top:8px;
        color: black;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        display:flex;
        flex-direction: row;
        float: right;
        direction: rtl;
    }

    #life{
        width: calc(100% - 100px);
        width: -webkit-calc(100% - 100px);
        background-color: #383737;
        height: 10px;
        margin-top:40px;
       border-bottom-left-radius: 5px;
       border-bottom-right-radius: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       border:1px solid #919191;
       float: right;
        direction: rtl;
    }
    .progress{
        width: 100%;
        background-color: #00ff00;
        height: 100%;
       border-bottom-left-radius: 5px;
       border-bottom-right-radius: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       float: right;
       direction: rtl;
    }

      .text-center
      {
          text-align:center;
      }

      .w-100
      {
          width: 100%;
      }

      #gif{
          position: absolute;
          height: 300px;
          top: 55%;
          opacity: 0.6;
          }

      #gif2{
        position: absolute;
        height: 300px;
        top: 55%;
        left: 60%;
        opacity: 0.7;
    }

    #gif3{
        position: absolute;
        height: 300px;
        top: 66%;
        left: 48%;
        opacity: 0.6;
    }

    #gif4{
        position: absolute;
        height: 300px;
        top: 66%;
        left: 10%;
        opacity: 0.8;
    }

    .win{
       
        transition-delay: 1s;
        transition: width 2s, height 2s, transform 2s;
      background-image: url("../images/win.jpg");
		background-repeat:no-repeat;
      background-size: 100% 100%;
        position: absolute;
        display:none;
        width:90%;
        left:3%;
        top: 50%;
		transform:translateY(-50%);
		height:380px;
        text-align: center;
        font-size: 6vh;
        color: black;
        padding:20px;
        padding-top: 16px;
        border-radius: 18px;
        flex-direction: column;
       

    }


    .kiss{
        height:40%;
        display: block;
        margin:0px auto;
    }
   
    .winImage{
        width:100%;
        display: block;
        margin:0px auto;
    }
#sound{
	position:absolute;
	bottom:20px;
	left:20px;
	height:100px;
	width:70px;
}